@tailwind base;
@tailwind components;
@tailwind utilities;

/* small custom */
html,body,#root { height:100%; }
.leaflet-container { height: calc(100vh - 72px); width: 100%; }
.faded { color: rgba(0,0,0,0.6); }
